Code/Nathan/output/*
*.pyc
Grégoire/*.pyc
Clément/*.pyc
Nathan/*.pyc
Code/weights
.ananas_env/
Code/test_voiture.py
Presentation-finale/slide.aux
Presentation-finale/slide.log
Presentation-finale/slide.nav
Presentation-finale/slide.out
Presentation-finale/slide.snm
Presentation-finale/slide.synctex.gz
Presentation-finale/slide.toc

